@model QLThuoc.Models.NHANVIEN

@{
    ViewBag.Title = "Xóa thông tin nhân viên";
}


<h3>Bạn chắc chắn muốn xóa chứ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tennv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tennv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chucvu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chucvu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaysinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaysinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
