@using System.Data.Entity
@using QLThuoc.Models;
@{
    aspnet_QLThuocEntities db = new aspnet_QLThuocEntities();
    DateTime date = DateTime.Today;
    var endDate = date.AddDays(30);
    var listPro = db.CTPNHAPs.Where(x => x.hsd <= endDate).ToList();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quản lý kho thuốc trạm y tế xã Hòa Bình</title>
    <meta name="robots" content="noindex" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/all.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/select2.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
    <!-- Grid MVC -->
    <link rel="stylesheet" href="~/Content/mvc-grid.css" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css" type="text/css" media="all" />

    <script src="https://kit.fontawesome.com/0c659bf56a.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-primary">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" data-enable-remember="true" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Index","Home")" class="nav-link">Trang chủ</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <!--<form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>-->
            <!-- Right navbar links -->

            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                @*<li class="nav-item dropdown">
            <a class="nav-link" href="javascript:$.get('/Home/ClearCache',function() {bootbox.alert('Xóa thành công!')});" title="Xóa cache">
                <i class="fa fa-recycle"></i>
            </a>
        </li>*@
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" title="Thông báo thuốc sắp hết hạn">
                        <i class="fa-solid fa-bell"></i>
                        Thông báo
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        @{
                            foreach (var item in listPro)
                            {
                                <a href="/CTPNhap" class="dropdown-item-header">Thuốc sắp hết hạn: @item.THUOC.tenthuoc </a>
                                <div class="dropdown-divider"></div>
                            }
                        }
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" title="Tài khoản đăng nhập">
                        <i class="far fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="/Manage/Index" class="dropdown-item">Cài đặt tài khoản</a>
                        <div class="dropdown-divider"></div>
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item"><i class="fa fa-sign-out-alt"></i> Thoát</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            @*<p class="brand-link">
                    <img src="~/img/icon-bac-si.png" alt="..." class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">
                        @Html.Partial("_LoginPartial")
                    </span>
                </p>*@

            <!-- Sidebar -->
            <div class="sidebar">
                <span class="brand-text font-weight-light">
                    @Html.Partial("_LoginPartial")
                </span>
                <!-- Sidebar user panel (optional) -->
                @*<div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="/dist/img/avatar5.png" class="img-circle elevation-2" alt="Admin Image" style="margin-top: 12px;">
                        </div>
                        <div class="info">
                            <a href="/Manage" class="d-block">@User</a>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                            <small>
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out-alt"></i> Thoát</a>
                            </small>
                        </div>
                    </div>*@

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- TODO 1. Thêm menu quản lý nội dung  href = Url.Action("Index", "Shippers")icon font-awesome: https://fontawesome.com/ -->
                        @*<li class="nav-item has-treeview">
                                <a href="@Url.Action("Index", "Dashboard")" data-s="/Dashboard" class="nav-link">
                                    <i class="nav-icon fas fa-server"></i>
                                    <p> accd </p>
                                </a>
                            </li>*@
                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("Index","Nhanvien")" data-s="/Nhanien" class="nav-link">
                                <i class="nav-icon fas fa-chart-bar"></i>
                                <p> 1. Bác sỹ </p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-list-alt"></i>
                                <p>2. Quản lý thuốc <i class="right fas fa-angle-left"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Thuoc", new { loai = "Cơ xương khớp" })" class="nav-link Thuoc" id="menu-Thuoc" data-s="/Thuoc">
                                        <i class="far fa-arrow-alt-circle-right nav-icon"></i>
                                        <p>2.1. Cơ xương khớp</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Thuoc", new { loai = "Da liễu" })" class="nav-link Thuoc" id="menu-Thuoc" data-s="/Thuoc">
                                        <i class="far fa-arrow-alt-circle-right nav-icon"></i>
                                        <p>2.2. Da liễu</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Thuoc", new { loai = "Đường ruột" })" class="nav-link Thuoc" id="menu-Thuoc" data-s="/Thuoc">
                                        <i class="far fa-arrow-alt-circle-right nav-icon"></i>
                                        <p>2.3. Đường ruột</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Thuoc", new { loai = "Kháng Sinh" })" class="nav-link Thuoc" id="menu-Thuoc" data-s="/Thuoc">
                                        <i class="far fa-arrow-alt-circle-right nav-icon"></i>
                                        <p>2.4. Kháng sinh</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Thuoc", new { loai = "Thuốc bổ" })" class="nav-link Thuoc" id="menu-Thuoc" data-s="/Thuoc">
                                        <i class="far fa-arrow-alt-circle-right nav-icon"></i>
                                        <p>2.5. Thuốc bổ</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Thuoc", new { loai = "Tim mạch" })" class="nav-link Thuoc" id="menu-Thuoc" data-s="/Thuoc">
                                        <i class="far fa-arrow-alt-circle-right nav-icon"></i>
                                        <p>2.6. Tim mạch </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Thuoc")" class="nav-link Thuoc" id="menu-Thuoc" data-s="/Thuoc">
                                        <i class="far fa-arrow-alt-circle-right nav-icon"></i>
                                        <p>2.7. Tất cả loại thuốc </p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-filter"></i>
                                <p><i class="right fas fa-angle-left"></i>3. Xuất - Nhập - Tồn </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","PXuat")" class="nav-link" data-s="/PNhap" id="menu-phieunhap">
                                        <i class="far fa-arrow-alt-circle-right nav-icon"></i>
                                        <p>3.1. Xuất thuốc</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","PNhap")" data-s="/PXuat" class="nav-link" id="menu-phieuxuat">
                                        <i class="far fa-arrow-alt-circle-right nav-icon"></i>
                                        <p>3.2. Nhập thuốc</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","KiemKe")" data-s="/PXuat" class="nav-link" id="menu-phieuxuat">
                                        <i class="far fa-arrow-alt-circle-right nav-icon"></i>
                                        <p>3.3. Kiểm kê thuốc</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="@Url.Action("Index","TongHop")" data-s="/Nhanien" class="nav-link">
                                <i class="nav-icon fas fa-chart-bar"></i>
                                <p> 4. Báo cáo - Tổng hợp </p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    5. Quản lý người dùng
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Accounts", "Manage")" class="nav-link" id="menu-mktprograms" data-s="/MktPrograms">
                                        <i class="far fa-arrow-alt-circle-right nav-icon"></i>
                                        <p>5.1. Tài khoản</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("AccountsRoles", "Manage")" class="nav-link" id="menu-prizeprograms" data-s="/PrizePrograms">
                                        <i class="far fa-arrow-alt-circle-right nav-icon"></i>
                                        <p>5.2. Phân quyền</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper text-sm">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-9">
                            @if (ViewBag.Icon != null)
                            {
                                <h1 class="m-0 text-dark"><i class='fa @ViewBag.Icon'></i>&nbsp;@Html.Raw(ViewBag.Title)</h1>
                            }
                            else
                            {
                                <h1 class="m-0 text-dark">@Html.Raw(@ViewBag.Title)</h1>
                            }
                        </div><!-- /.col -->
                        @*<div class="col-sm-3">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                    <li class="breadcrumb-item">@ViewBag.Menu</li>
                                </ol>
                            </div>   *@ <!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline-block" id="statusStaticText">
                <b>Được thực hiện bởi nhóm thành viên K64HTTT</b>
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Grid MVC -->
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    <!-- Bootbox-->
    <script src="~/Scripts/bootbox.all.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/select2.min.js"></script>
    <!-- Hightchart -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    @*datetime picker*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/Content/js/bootstrap-datetimepicker.min.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            var url = window.location.href;
            var filename = url.split("/")[3];
            if (url.split("/")[4] && (url.split("/")[4] == "Accounts" || url.split("/")[4] == "AccountsRoles")) {
                filename += "/" + url.split("/")[4]
            }
            var currentLink = $('a[href="/' + filename + '"]');
            currentLink.addClass("active");
            currentLink.parent().addClass("active");
            currentLink.parents('li').addClass('menu-open');
        });
    </script>

    <script>
        var formHasChanged = false;
        var submitted = false;

        window.onbeforeunload = function (event) {
            if (formHasChanged && !submitted) {
                event.returnValue = "Unchanges not saved ! R u sure want to quit ?";
            }
        };

        $(document).on('change', 'input', function () {
            formHasChanged = true;
        });

        $("form").submit(function () {
            submitted = true;
        });

        function getParameterByName(name) //courtesy Artem
        {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.href);
            if (results == null)
                return "";
            else
                return decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    </script>
</body>
</html>
